<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>Wemem</title>
    <meta name="theme-color" content="#fafafa" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" sizes="192x192" href="/favicon-192.png" />
    <meta name="emotion-insertion-point" content="" />
    <meta property="description" content="<%= DESCRIPTION %>" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://app.wemem.ai/" />
    <meta
      name="twitter:title"
      content="Wemem: Use AI to enhance reading ease without replacing it."
    />
    <meta name="twitter:description" content="<%= DESCRIPTION %>" />
    <meta name="twitter:site" content="@AffineOfficial" />
    <meta name="twitter:image" content="https://wemem.ai/og.jpeg" />
    <meta
      property="og:title"
      content="Wemem: Use AI to enhance reading ease without replacing it."
    />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%= DESCRIPTION %>" />
    <meta property="og:url" content="https://app.wemem.ai/" />
    <meta property="og:image" content="https://wemem.ai/og.jpeg" />
    <link data-react-helmet="true" rel="shortcut icon" href="/favicon.ico" />
  </head>

  <body>
    <div id="app" data-version="<%= GIT_SHORT_SHA %>"></div>
  </body>
</html>
